<script setup lang="ts">
import type { IUser } from '@/interfaces/user';
import { UserCircleIcon } from '@heroicons/vue/24/solid';
import { computed } from 'vue';

// Intentaba typar el evento del emit
// type Emit = {
//     (e: string, value?: IUser) : void
// }

const user = defineProps<IUser>()
const emit = defineEmits(['UserSignal'])

const getAge = (birthDay: Date | undefined) => {
    if (!birthDay) return
    const age = new Date().getFullYear() - birthDay.getFullYear()
    return age;
}

function formatBirthDay(birthDay: Date | undefined) {
    if (!birthDay) return
    const [weekDay, month, day, year] = birthDay.toString().split(' ')
    return `${weekDay} ${month} ${day} of ${year}`
}

function cardEvent(user: IUser) {
    emit('UserSignal', user)
}

function computedCallBack () {
    console.log('Hello World');
}
const listener = computed( computedCallBack )

</script>

<template >
    <article class="p-4 w-full hover:shadow-md rounded-md border cursor-pointer md:hover:scale-105 duration-150 bg-white"
        >
        <div class="flex gap-4 items-center">
            <UserCircleIcon class="w-6 h-6" />
            <h1 class="text-2xl">{{ `${name} ${lastName}` }}</h1>
        </div>
        <hr class="my-4">
        <div>
            <p>{{ user.name }} information:</p>
            <br>
            <b># {{ user._id }}</b>
            <p>Birthday: {{ formatBirthDay(user.birthDay) }}</p>
            <p>Age: {{ getAge(user.birthDay) }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
    </article>
</template>