<script setup lang="ts">
import useUsers from '@/data/user';
import UserItem from '@/components/user/UserItem.vue'
import type { IUser } from '@/interfaces/user';
import { onMounted } from 'vue';

const { getUsers } = useUsers()

const emitListener = (user: IUser | undefined) => {
    if (!user) return
    alert(user.name)
}

</script>

<template >
    <div class="mb-6">
        <h1 class="text-3xl"> IDYGS-83 Students </h1>
    </div>
    <section class="grid grid-cols-1 gap-6 md:grid-cols-3">
        <UserItem v-for="user in getUsers()" v-bind="user" @user-signal="emitListener" />
    </section>
</template>