<script setup lang="ts">
import { XMarkIcon } from '@heroicons/vue/24/outline';
import { links } from '@/data/navbar';

// Defino mis Emits
const emit = defineEmits(['ShowMenu']);

// Emit del menu: este manejador envia una señal al padre
function menuHandler() {
    emit('ShowMenu')
};

</script>

<template>
    <aside class="fixed inset-0 bg-white md:max-w-[28rem] lg:hidden z-40 h-screen overflow-hidden">
        <header class="flex gap-4 p-4 justify-between">
            <h1 class="text-xl">Menu</h1>
            <button @click="menuHandler()">
                <XMarkIcon class="w-6 h-6" />
            </button>
        </header>
        <ul class="p-4 flex flex-col gap-4">
            <li v-for="link in links">
                <RouterLink :to="link.route">{{ link.label }}</RouterLink>
            </li>
        </ul>
    </aside>
</template>