<script setup lang="ts">
import { Bars3BottomLeftIcon } from '@heroicons/vue/24/outline';
import { links } from '@/data/navbar';
import { ref } from 'vue';
import { RouterLink } from 'vue-router';
import Menu from '@/components/common/Menu.vue'

// Variable reactiva de tipo boleano para manejar el menu
const showMenu = ref(false);

// Controlador del Menu
const menuHandler = () => {
    showMenu.value = !showMenu.value
};

</script>  

<template>
    <nav class="fixed top-0 left-0 w-full flex gap-4 h-14 shadow-md z-40 bg-white px-4 lg:px-0">
        <button @click="menuHandler()" class="lg:hidden">
            <Bars3BottomLeftIcon class="w-6 h-6" />
        </button>
        <ul class="hidden lg:flex items-center gap-6  md:container md:mx-auto">
            <li v-for="link in links" class="hover:text-blue-600 hover:scale-105 duration-150 hover:underline">
                <RouterLink :to="link.route">{{ link.label }}</RouterLink>
            </li>
        </ul>
    </nav>
    <Menu @show-menu="menuHandler" v-if="showMenu" />
</template>