@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@layer base {
    html {
        font-family: 'Work Sans', system-ui, sans-serif;
    }
}

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
//   margin: 0;
//   font-weight: normal;
// }