<script setup lang="ts">
import { RouterView } from 'vue-router';
import Navbar from '@/components/common/Navbar.vue';
</script>

<template>
    <Navbar />
    <main class="pt-20 z-0 h-screen px-4 md:px-0 md:container md:mx-auto">
        <RouterView />
    </main>
</template>